<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.mapper.ClassMapper">
<!--        Class queryClass(int cid);-->
    <select id="queryClass" resultMap="classStudent">
        select class.cid,cname,sno,sname,student.cid from student,class where class.cid=#{cid} AND student.cid=#{cid}
    </select>
    <resultMap id="classStudent" type="com.bilibili.bean.Class">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <collection property="studentList" javaType="list" ofType="com.bilibili.bean.Student">
            <id property="sid" column="sno"/>
            <result property="sname" column="sname"/>
            <result property="cid" column="cid"/>
        </collection>
    </resultMap>

</mapper>